@page
@model IndexModel
@{
    ViewData["Title"] = "Admin Home";
}

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                 
                    <td>
                        <a asp-page="./Edit" asp-route-id="@product.Id">Edit</a> |
                        <button type="submit" asp-page-handler="delete" asp-route-id="@product.Id">Delete</button>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <a asp-page="./Create" >Create</a> 
</form>